@model AuthorDto

<div>
    <h1>Author Details Below</h1>
    <div>

        <partial name="_Author" model="@Model" />


        <h6> * * * * * * * * * * * * * * * * *</h6>


        <h1>The below are the courses of this author</h1>
        @foreach (var course in Model.CourseDtos)
        {
            <div>

                <h2>Book Title = @course.Title</h2>
                <h3>Book Description = @course.Description</h3>
                <h4></h4>
            </div>
        }
    </div>

    <div>
        <h1><a asp-controller="Authors" asp-action="List"> - - - - - - - -   CLICK HERE FOR LIST OF AUTHORS (TO GO BACK) - - - - - - - - - </a></h1>
    </div>
</div>
